@{
    ViewData["Title"] = "Home";
}

<h1>The Joel Hilton Film Collection</h1>
<p>Welcome to Joel’s film collection tracker.</p>

<img src="~/img/joel.jpg" alt="Joel Hilton" style="max-width: 450px;" />
